html,body {
    height: 100%;
    margin: 0;
}
#id {
    height:100%;
    width:100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 80% 20%;
}
#time {
    background-color: gainsboro;
}
#info {
    background-color: rgb(194, 194, 194);
}
#timetext {
    display: flex;
    justify-content: center;
    align-items: center;
}