html,
body {
    height: 100%;
    margin: 0;
}

.lab {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* margin-top: 10px; */
}

.num-select {
    width: 85%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 10px;
    border-radius: 7px;
    border: rgba(0, 0, 0, 0);
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
}

.combo {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin-top: 7px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 100%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #38caef, #116399);
    border-image-slice: 1;

}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}

.form__field:required,
.form__field:invalid {
    box-shadow: none;
}


/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 62px;
    height: 35px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 1;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    background: #fff;
    transition: .4s;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.9em;
    width: 1.9em;
    border-radius: 16px;
    left: 1.2px;
    top: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 2px 5px #999999;
    transition: .4s;
}

input:checked+.slider {
    background-color: #5fdd54;
    border: 1px solid transparent;
}

input:checked+.slider:before {
    transform: translateX(1.5em);
}

#white_black_button button {
    cursor: pointer;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
}

#white_black_button button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

#white_black_button button:hover {
    color: #e8e8e8;
}

#white_black_button button:hover::before {
    width: 100%;
}

.card__content {
    padding-left: 25px;
    padding-right: 25px;
}

.card {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    background-color: #F8FBFE;
    border-radius: 8px;
    z-index: 1;
    border-radius: 22px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 12px 12px 20px #e6e6e6,
        -12px -12px 20px #ffffff;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    cursor:pointer;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.modelDialog {
    visibility: hidden;
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.close_modelDialog_bnt {
    position: relative;
    top:5%;
    cursor:pointer;
    left:1%;
    height:15px;
    width:15px;
    border-radius: 22px;
    background: linear-gradient(145deg, #ff6762, #e65653);
    /* box-shadow: 5px 5px 8px #e65653, */
        /* -5px -5px 8px #ff6a65; */
}

@keyframes close_about {
    from{
        transform: scale(1);
        opacity: 1;
    }
    to{
        transform: scale(0);
        opacity: 0;
    }
}


@keyframes open_about {
    from {
        opacity:0;
        transform: scale(0);
    }

    to {
        opacity:1;
        transform: scale(1);
    }
}